
<% if item.completed? %>
  <section class="list-task clearfix">
    <div class="task-checkbox">
      <a>
        <label class="compled"><input type="checkbox" class="toggle" checked ><%= item.title %></label>
      </a>
    </div>
    <div class="list-icons clearfix">
      <a onclick="deleteItem(event.target, <%= item.id %>, <%= todo.id %>)">
        <i class="fa fa-trash"></i>
      </a>
      <i class="fa fa-pencil"></i>
      <i class="fa fa-sort"></i>
    </div>
  </section>
<% else %>
  <section class="list-task clearfix" onclick="completeItem(event.target, <%= item.id %>, <%= todo.id %>)">
    <div class="task-checkbox">
      <a>
        <label class="item-title"><input type="checkbox" class="toggle"><%= item.title %></label>
      </a>
    </div>
    <div class="list-icons clearfix">
      <%= link_to todo_list_item_path(todo, item), method: :delete do %>
        <i class="fa fa-trash"></i>
      <% end %>
      <%= link_to edit_todo_list_item_path(todo, item) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <i class="fa fa-sort"></i>
    </div>
  </section>
<% end %>

