<main class="todo">
  <aside class="vertical-divider"></aside>

  <section class="header">
    <i class="fa fa-calendar"></i>
    <h3 class="list-title"><%= todo.title %></h3>
    <%= link_to todo_list_path(todo), method: :delete, data:{confirm: "Are you sure?"} do %>
        <i class="fa fa-trash"></i>
    <% end %>
    <%= link_to edit_todo_list_path(todo) do %>
        <i class="fa fa-pencil"></i>
    <% end %>
  </section>

  <section class="add-task clearfix">
    <i class="fa fa-plus"></i>
    <input id="btn" type="button" value="Add Task" onclick="addTask(event.target, <%= todo.id %>)">
    <input id="task" type="text" placeholder="Start typing here to create a task...">
  </section>
  <div class="list-items">
    <% todo.items.each do |item| %>
      <%= render partial: "todo_items", locals: {item: item, todo: todo } %>
    <% end %>
  </div>
</main>
